# Builds Betaflight Configurator on Windows, Android, Linux and macOS platforms.
#
# After building, artifacts are released to a separate repository.

name: CI

on:
  workflow_call:
    inputs:
      debug_build:
        description: 'Specifies if it is a debug build or a release build'
        default: true
        required: false
        type: boolean

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: node_modules/
          key: node_modules-${{ runner.os }}-${{ hashFiles('yarn.lock') }}

      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'

      - run: yarn install --immutable --immutable-cache --check-cache

      - name: Run unit tests
        run: yarn test

  build:
    name: Build (${{ matrix.name }})
    needs: test
    runs-on:  ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: Linux
            os: ubuntu-latest
            releaseArgs: --linux64

          - name: macOS
            os: macos-latest
            releaseArgs: --osx64

          - name: Windows
            os: windows-latest
            releaseArgs: --win64
    steps:
      - uses: actions/checkout@v5

      - name: Cache NW.js
        uses: actions/cache@v4
        with:
          path: cache/
          key: nwjs-${{ runner.os }}

      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: node_modules/
          key: node_modules-${{ runner.os }}-${{ hashFiles('yarn.lock') }}

      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'

      - run: npm install yarn -g
      - run: yarn install

      - run: yarn version --no-git-tag-version --new-version ${{ github.ref_name }}
        if: ${{ !inputs.debug_build }}

      - name: Build desktop release
        run: node desktop-build.mjs ${{ matrix.releaseArgs }}
        if: ${{ !inputs.debug_build }}

      - name: Build desktop debug release
        run: node desktop-build.mjs ${{ matrix.releaseArgs }}
        if: ${{ inputs.debug_build }}

      - name: Publish build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Betaflight-Configurator${{ inputs.debug_build == 'true' && '-Debug' || '' }}-${{ matrix.name }}
          path: release/
          retention-days: 90
